
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}


.textbox {
    margin-bottom: 15px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 5px;
    font-size: 16px;
}


.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-container input {
    margin-right: 10px;
}

.checkbox-container label {
    font-size: 14px;
    color: #333;
}


.button-container {
    display: flex;
    justify-content: center;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background-color:darkblue;
}


p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

p a {
    color: skyblue;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}


@media (max-width: 600px) {
    .login-box {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    .textbox input {
        font-size: 14px;
    }

    .login-btn {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }
}
